.img-src {
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
}

.blurred {
    opacity: 0.5;
    
}
.article {
    width: 500px;
    height: 2000px;
  }
  
  h1 {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #fff;
    position: fixed;
    z-index: 9999;
    font-size: 50px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -103px;
  }